.table__cell {
  width: 100%;
  margin: 0 0 20px;
}

.table__cell:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .table__cell {
    width: calc((100% - 40px) / 2);
    margin: 0 40px 40px 0;
  }

  .table__cell:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .table__cell {
    width: calc((100% - 65px * 3) / 4);
    margin: 0 65px 0 0;
  }

  .table__cell:nth-child(2n) {
    margin-right: 65px;
  }

  .table__cell:nth-child(4n) {
    margin-right: 0;
  }
}
