@import url("./__heading/place__heading.css");
@import url("./__image/place__image.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__text/place__text.css");
.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}