.header__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
  margin: 0;
  list-style-type: none;
}

@media screen and (min-width: 540px) {
  .header__list {
    flex-direction: row;
    padding: 0;
  }
}
