.intro__heading {
    padding-left: 80px;
    max-width: 500px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    color: #111111;
    margin-right: 45vw;
    margin-top: 38px;
}