.departure__title {
  margin: 0 0 40px 0;
}

@media screen and (min-width: 768px) {
  .departure__title {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .departure__title {
    margin: 0 0 145px 0;
  }
}
